   
<div class="col-md-12 main">          
	<div class="row page-header">
	  <div class="col-md-2">
	    <h1>Dashboard</h1>
	  </div><!-- /.col-md-2 -->
	</div><!-- /.row page-header -->
</div><!-- /.col-md-12 main -->
<div class="container-fluid"><!--INFO Alert-->
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-info" role="alert" style="display:flex;">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="font-size: x-large;line-height: 1.28;"></span>
				<p style="margin-left: 15px;font-size: small;"><b>Bienvenido!</b><br>Para que nuestros desarrolladores puedan comenzar, debe completar los requerimientos</p>
				<button ng-click="goTo('clientApps')"
								class="btn btn-info" style="margin-left: auto;">
					<b>Ir a mis Apps</b>
				</button>
			</div>
		</div>
	</div>
</div><!--/INFO Alert-->
<div class="container-fluid"><!--WIDGETS-->
	<div class="row"> 
	  <div class="col-md-4"><!--WIDGET 1-->
	    <div class="panel panel-success widget">
	      <div class="panel-heading">
	        <div class="row">
	        	<div class="col-md-3 text-right">
	            	<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
	          	</div>
         	 	<div class="col-md-9">
	            	<h5><b>Esperando requerimientos</b></h5>
	                <div class="row">  
	                  	<h2 class="col-md-6"><b> ?</b></h2>
	                </div>
	          	</div>
	        </div><!--/.row-->
	        <br>
	        <div class="row"><!--List element--> <!--FALTA EL NG-REPEAT-->
	        	<div class="col-md-12">
	        		Navidad Sundae <b class="pull-right">3/4</b>
	        	</div>
	        </div><!--/.row--><!--/List element-->
	        <div class="row"><!--List element-->
	        	<div class="col-md-12">
	        		Verano Mc D Feliz <b class="pull-right">3/4</b>
	        	</div>
	        </div><!--/.row--><!--/List element-->	        
          	<div class="row">
              	<h6 class="col-md-12 text-right" style="margin-top:5px;margin-bottom:0px;"><a href="">ver más</a></h6>
          	</div><!--/.row-->
	      </div><!--/.panel-heading-->
	    </div><!--/.panel panel-success widget"-->
	  </div><!--/.col-md-4--><!--/WIDGET 1-->
	  <div class="col-md-4"><!--WIDGET 2-->
	    <div class="panel panel-warning widget">
	      <div class="panel-heading">
	        <div class="row">
	          <div class="col-md-3 text-right">
	            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
	          </div>
	          <div class="col-md-9">
	            <h5><b>Proyectos vigentes (live)</b></h5>
	            <div class="row">  
	              <h2 class="col-md-6"><b> 3</b></h2>
	              <h6 class="col-md-6 text-right"><a href="">ver más</a></h6>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div><!--2WIDGET 2-->
	</div><!-- /.row --> 
</div><!-- /.container-fluid WIDGETS-->
<br><br>
<div class="jumbotron container">
	<h1>(Acá debería ir un gráfico a definir)</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus, metus ac convallis lobortis, nisl risus egestas ante, vitae dictum sapien purus nec nunc. Phasellus at euismod arcu. Sed varius viverra diam, ac interdum enim ultricies ut. Donec fringilla congue lectus sit amet fermentum. Pellentesque id interdum ante. Etiam ut mauris blandit, pretium arcu at, pretium ante. Nunc suscipit lorem nisl.
	</p>
	<p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Crear nueva App</a>
	</p>
</div>