  
<div class="col-md-12 main">          
<div class="row page-header">
  <div class="col-md-12">
    <h1>Apps y Juegos</h1>
  </div><!-- /.col-md-2 -->
</div><!-- /.row page-header -->
</div><!-- /.col-md-12 main -->
<div class="container-fluid"><!--INFO Alert-->
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert" style="display:flex;">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="font-size: x-large;line-height: 1.28;"></span>
      <p style="margin-left: 15px;font-size: small;"><b>Bienvenido!</b><br>Desde aquí puede completar los requerimientos para comenzar el desarrollo y monitorear sus apps activas</p>
      <button ng-click="demoAlert('Deberia desaparecer el banner')"
              class="btn btn-info" style="margin-left: auto;">
        <b>Ok, entendido</b>
      </button>
    </div>
  </div>
</div>
</div><!--/INFO Alert-->
<uib-tabset active="active">
  <uib-tab heading="Activos">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Proyecto</th>
            <th>Estado</th>
            <th>Requerimientos</th>
            <th>Fecha lanzamiento</th>
            <th>Alquiler finaliza</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td ng-click="goTo('clientApp')">Pizza Pepe - v1.1</td>
            <td><b><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Requerimientos faltantes</b></td>
            <td><span class="glyphicon glyphicon-file" aria-hidden="true"></span> 2/5</td>
            <td>-</td>
            <td>-</td>
            <td>
              <button ng-click="demoAlert('Ejecuta el callflow para subir los requerimientos')" 
                      class="btn btn-danger btn-xs" type="button" aria-haspopup="true" aria-expanded="true">
                  <b> Completar Requerimientos </b>
              </button>
            </td>
          </tr>
          <tr>
            <td  ng-click="goTo('clientApp')">Pizza Pepe - v1.1</td>
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> En vigencia</td>
            <td><span class="glyphicon glyphicon-file" aria-hidden="true"></span> 2/5</td>
            <td>-</td>
            <td>1/10/2016</td>
            <td>
        <div class="btn-group" uib-dropdown is-open="status.isopen">
          <button id="single-button" type="button" class="btn btn-warning btn-xs" uib-dropdown-toggle ng-disabled="disabled"><b> Extender Alquiler </b><span class="caret"></span></button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="">Action</a></li>
            <li role="menuitem"><a href="">Another action</a></li>
            <li role="menuitem"><a href="">Something else here</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="">Separated link</a></li>
          </ul>
        </div></td>
          </tr>                       
        </tbody>
      </table>
    </div>
  </uib-tab>
  <uib-tab heading="Finalizados">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Proyecto</th>
            <th>Alquilado durante</th>
            <th>Desarrollador</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pizza Pepe - v1.1</td>
            <td>3 meses</td>
            <td>
              <button  ng-click="demoAlert('Deberia ejecutar todo el callflow de un alquiler de app')"
                class="btn btn-success btn-xs" type="button" aria-haspopup="true" aria-expanded="true">
                <b> Volver a Alquilar </b>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </uib-tab>
</uib-tabset>