.footer {
	display: block;
	overflow: hidden;
	width: 100%;
	position: relative;
	text-align: center;
	color: #fff;
	background: $brandDarkBlue;
	height: 220px;
}

.footer__wrapper {
	display: inline-block;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin-top: $gridSpacing*2;
}

.footer__nav, .footer__login, .footer__social, .footer__legal {
	display: inline-block;
    vertical-align: top;
	box-sizing: border-box;
	text-align: left;
}

.footer__nav {
	width: 30%;
}

.footer__login {
	width: 17%;
}

.footer__login button {
	width: 100%;
	margin: $gridSpacing 0;
}

.footer__social {
	width: 20%;
	padding-left: $gridSpacing*3;
}

.footer__social span {
	font-size: 13px;
}

.footer__social-list li {
	margin: $gridSpacing;
	font-size: 13px;
}

.footer__social-list li i {
	margin-top: $gridSpacing;
	font-size: 22px;
	width: 30px;
}

.footer__legal {
	width: 30%;
}

.footer__nav-list li {
	text-align: left;
    width: 49%;
    font-size: 13px;
    margin: $gridSpacing 0;
    display: inline-block;
    cursor: pointer;
}

.footer__nav-list li:hover {
	font-weight: 700;
}

.footer__int {
	font-size: 13px;
	width: 50%;
	line-height: 1.5em;
	margin-bottom: $gridSpacing;
	float: left;
}

.footer__int i {
	font-size: 22px;
	margin-right: $gridSpacing;
}

.footer__local {
	margin-top: $gridSpacing*2;
}

.footer__afip {
	float: right;
}

.footer__afip img {
	width: 100px;
}

