.screenshots__wrapper {
     display: inline-block;
     height: 450px;
     width: 100%;
     max-width: 1000px;
     white-space: nowrap;
     overflow-x: auto;
     overflow-y: hidden;
 }

.screenshot__element {
    display: inline-block;
    margin: 0 $gridSpacing;
}

.screenshot__element, .screenshot__element > img {
    height: 100%;
}