
$margin: 5;
$borderRadius: 4px;
$buttonHeightNormal: 36px;
$btnSecBorderWidth: 1px;
$sectionHeight: 650px; // for 1366x768

// Top Bar
$topBarHeight: 77px;
$topBarMobileHeight: 55px;
$desktopLogoWidth: 230px;
$mobileLogoWidth: 175px;
$menuButtonSize: 23px;
$navMenuTextColor: #ffffff;

// Nav menu
$maxnavMenuWidth: 280px;
$navMenuWidth: 81%;
$menuBarMaxWidth: 360px;
$navMenuFontSize: 17px;

// Colors
$lightGrey: #EFEFEF;
$mediumGrey: #676767;
$brandDarkBlue: #333E48;
$activeNormal: #0BA0FC;
$brandModernGreen: #16E2E1;
$activeTrans: rgba(11, 160, 252, 0.9);
$negativeNormal: #FF275B;
$negativeTrans: rgba(255, 39, 91, 0.9);
$positiveNormal: #7AC943;

// Fonts
$defaultFont: 'Roboto', sans-serif;
$menuBarsSize: 28px;
$buttonTextSize: 13px;
$gridSpacing: 11px;

// Presentation
$preTitleSize: 57px;
$preSubTitleSize: 17px;
$preTitleSizeMobile: 27px;
$preSubTitleSizeMobile: 15px;
$presentationHeight: 768px;
$presentationHeightMobile: 550px;
$presentationSearchHeight: 210px;
$presentationSearchHeightMobile: 150px;

// Search
$searchNormalFontSize: 27px;
$searchNormalHeight: 70px;
$search_Mobile_Height: 50px;

// Login

$loginElementHeight: 50px;