        <div class="col-md-12 main">          
          <div class="row page-header">
            <div class="col-md-2">
              <h1>Usuarios</h1>
            </div><!-- /.col-md-2 -->
            <div class="col-md-4 col-md-offset-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
              </div>
            </div><!-- /.col-md-3 -->
          </div><!-- /.row page-header-->
        </div>

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#menu1">Desarrolladores(37)</a></li>
          <li><a data-toggle="tab" href="#menu2">Clientes Registrados(372)</a></li>
        </ul>
        <div class="tab-content">

          <div id="menu1" class="tab-pane fade in active">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Perfil creado el</th>
                    <th>Apps Publicadas</th>
                    <th>Apps Alquiladas</th>
                    <td>Ganancias último mes</td>
                    <td>Ganancias totales</td>
                    <td>Ganancias próximo mes</td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                  </tr>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Joel Costera</td>
                    <td>12/10/2014</td>
                    <td>7</td>
                    <td>345</td>
                    <td>$789</td>
                    <td>$2931</td>
                    <td>$3256</td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td></td>
                    <td><span></span></td>
                    <td><a href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                    <td><a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                  </tr>
                  <tr>
                    <td>Joel Costera</td>
                    <td>12/10/2014</td>
                    <td>7</td>
                    <td>345</td>
                    <td>$789</td>
                    <td>$2931</td>
                    <td>$3256</td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td></td>
                    <td><span></span></td>
                    <td><a href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                    <td><a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                  </tr>
                  <tr>
                    <td>Joel Costera</td>
                    <td>12/10/2014</td>
                    <td>7</td>
                    <td>345</td>
                    <td>$789</td>
                    <td>$2931</td>
                    <td>$3256</td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td></td>
                    <td><span></span></td>
                    <td><a href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                    <td><a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div id="menu2" class="tab-pane fade">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Perfil creado el</th>
                    <th>Alquileres activos</th>
                    <th>Alquileres totales</th>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                  </tr>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Joel Costera</td>
                    <td>12/10/2014</td>
                    <td>345</td>
                    <td>345</td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><a href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                    <td><a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                  </tr>
                  <tr>
                    <td>Joel Costera</td>
                    <td>12/10/2014</td>
                    <td>345</td>
                    <td>345</td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><a href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                    <td><a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                  </tr>
                  <tr>
                    <td>Joel Costera</td>
                    <td>12/10/2014</td>
                    <td>345</td>
                    <td>345</td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><a href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                    <td><a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                  </tr>
                </tbody>
              </table>
            </div>          
          </div>


        </div> 